.comment
  %p
    %i
      = comment.name if comment.website.blank?
      = link_to comment.name, comment.website unless comment.website.blank?
      comentou, há
      - if comment.created_at
        %abbr{ :title => "#{l(comment.created_at)}" }
          = time_ago_in_words(comment.created_at)
        atrás.
    %br
    = comment.comment