- cache note do
  .twit
    %p
      = parse_twit(note.note)
    %p
      %span
        = link_to 'Anotação', note_path(note)
        feita há
        %abbr{ :title => "#{l(note.note_taked_at)}" }
          = time_ago_in_words(note.note_taked_at)
        atrás.
    %p.tags
      tags:
      - note.tags.each do |tag|
        = link_to tag.name, notes_path(:search => { :tagged_with_on_tags => tag.name })
    - if current_user
      %p
        = link_to 'excluir', note_path(note), :method => :delete, :confirm => "Você tem certeza?", :title => 'apagar', :class => 'link-delete'
