.general
  .span-15
    %h2
      Vídeo
      = @video.title
    %p
      = @video.description
    .videos{ :style => "width:480px;height:360px;", :id => "player" }
    - if @video.mobile?
      %video{ :width => "560", :height => "420", :controls => "controls", :autobuffer => "autobuffer", :preload => "none" }
        ==<source src="#{@video.public_filename}" type="video/mp4" />
        Seu browser n&atilde;o suporta o formato mp4
    - else
      %script
        flowplayer("player", "/flowplayer/flowplayer-3.1.5.swf");
        == $f().play('#{@video.public_filename}');
  .sidebar.span-7.last
    #new_comment
.span-24
  .prepend-1.span-14
    #comments
- javascript_tag do
  $(document).ready(function(){
  == load_comments('videos','#{@video.id}-#{@video.video_hash}');
  });
