.main_menu.span-24.header
  %ul
    %li{ :class => "#{"active" if controller.controller_name == 'posts' }" }
      = link_to "<span class='wrong_high'>W</span>riting", posts_path
    %li
      <span class='wrong_high'>R</span>eading
    %li{ :class => "#{"active" if ( controller.controller_name == 'galleries' || controller.controller_name == 'photos' ) }" }
      = link_to "<span class='wrong_high'>O</span>bserving", galleries_path
    %li
      = link_to "Taking <span class='wrong_high'>N</span>otes", "#"
    %li{ :class => "#{"active" if controller.controller_name == 'beer_votes' }" }
      = link_to "<span class='wrong_high'>G</span>risting", beer_votes_path
    - unless current_user
      %li{ :class => "#{"active" if controller.controller_name == 'session' }" }
        = link_to "login", login_path
    - else
      %li
        = link_to "admin", admin_root_path, :class => 'link-admin'
      %li
        = link_to "sair", logout_path, :class => 'link-logout'
#menu_writing.description{ :style => 'visibility:hidden;' }
  o blog, aqui fica o blog.
#menu_reading.description{ :style => 'visibility:hidden;' }
  links interessantes de coisas que ando lendo.
#menu_observing.description{ :style => 'visibility:hidden;' }
  a área de fotos. mas aqui só entra quem é chamado. nada de fotos públicas
#menu_taking_notes.description{ :style => 'visibility:hidden;' }
  comentários rápidos. coisas simples.
#menu_gristing.description{ :style => 'visibility:hidden;' }
  cerveja! aqui só entra cerveja!
