.main_menu.span-24.header
  %ul
    %li{ :class => "#{"active" if controller.controller_name == 'posts' }" }
      = link_to "<span class='wrong_high'>W</span>riting", posts_path
    %li
      <span class='wrong_high'>R</span>eading
    %li
      <span class='wrong_high'>O</span>nline
    %li
      = link_to "<span class='wrong_high'>N</span>annying", children_path
    %li{ :class => "#{"active" if controller.controller_name == 'beer_votes' }" }
      = link_to "<span class='wrong_high'>G</span>risting", beer_votes_path
    - unless current_user
      %li
        = link_to "login", login_path, :class => 'link-login'
    - else
      %li
        = link_to "admin", admin_root_path, :class => 'link-admin'
      %li
        = link_to "sair", logout_path, :class => 'link-logout'
  .clear
