.span-24.main_menu.header
  - unless current_user
    .prepend-4.span-2
      %p{ :class => "#{"active" if controller.controller_name == 'session' }" }
        = link_to "login", login_path
  - else
    .prepend-2.span-2
      %p
        = link_to "admin", admin_root_path, :class => 'link-admin'
    .span-2
      %p
        = link_to "sair", logout_path, :class => 'link-logout'
  .span-2.append-1
    %p{ :class => "#{"active" if controller.controller_name == 'pages' }", :onmouseout =>  "$('menuhome').hide();", :onmouseover => "$('menuhome').show();" }
      = link_to image_tag('home.gif', :alt=> 'home', :title => 'página inicial', :class => 'home_image'), pages_path
  .span-2
    %p{ :class => "#{"active" if controller.controller_name == 'posts' }", :onmouseout =>  "$('menuwriting').hide();", :onmouseover => "$('menuwriting').show();" }
      = link_to "<span class='wrong_high'>W</span>riting", posts_path
  .prepend-1.span-2
    %p{ :class => "#{"active" if controller.controller_name == 'links' }", :onmouseout =>  "$('menureading').hide();", :onmouseover => "$('menureading').show();"}
      = link_to "<span class='wrong_high'>R</span>eading", links_path
  .span-3
    %p{ :class => "observing #{"active" if ( controller.controller_name == 'galleries' || controller.controller_name == 'photos' || controller.controller_name == 'videos' ) }", :onmouseout =>  "$('menuobserving').hide();", :onmouseover => "$('menuobserving').show();"}
      = link_to "<span class='wrong_high'>O</span>bserving", galleries_path
  .prepend-1.span-3
    %p{ :class => "#{"active" if ( controller.controller_name == 'notes' ) }", :onmouseout =>  "$('menutaking_notes').hide();", :onmouseover => "$('menutaking_notes').show();"}
      = link_to "Taking <span class='wrong_high'>N</span>otes", notes_path
  .span-2.append-1.last
    %p{ :class => "#{"active" if controller.controller_name == 'beer_votes' }", :onmouseout =>  "$('menugristing').hide();", :onmouseover => "$('menugristing').show();"}
      = link_to "<span class='wrong_high'>G</span>risting", beer_votes_path
.span-24
  .prepend-6
    #menuhome.description{ :style => 'display:none;' }
      a página inicial do imbw.
  .prepend-9
    #menuwriting.description{ :style => 'display:none;' }
      o blog, aqui fica o blog.
  .prepend-12
    #menureading.description{ :style => 'display:none;' }
      links interessantes de coisas que ando lendo.
  .prepend-6
    #menuobserving.description{ :style => 'display:none;' }
      a área de fotos. mas aqui só entra quem é chamado. nada de fotos públicas
  .prepend-15
    #menutaking_notes.description{ :style => 'display:none;' }
      comentários rápidos. coisas simples.
  .prepend-18
    #menugristing.description{ :style => 'display:none;' }
      cerveja! aqui só entra cerveja!
