.submenu
  %ul
    %li
      = link_to "álbuns", admin_galleries_path
    %li
      = link_to "posts", admin_posts_path
    %li
      = link_to "attachments", admin_attachments_path
    %li
      = link_to "cervejas", admin_beer_votes_path
    %li
      = link_to "usuários", admin_users_path
  .clear
