- cache beer_vote do
  .beer_vote{ :id => "vote#{beer_vote.id}" }
    %h3
      Cerveja
      = beer_vote_link beer_vote
    = star_rating beer_vote.vote if beer_vote.vote
    .clear
    %p
      - if beer_vote.country
        Pa&iacute;s
        = beer_vote.country
      %span.info
        coment&aacute;rio criado há
        %abbr{ :title => "#{l(beer_vote.commented_at)}" }
          = time_ago_in_words(beer_vote.commented_at)
    %p
      Coment&aacute;rio
      = beer_vote.comment if beer_vote.comment
    .photos{ :id => "beer#{beer_vote.id}" }
    .clear
    - if current_user
      %p
        = link_to 'excluir', admin_beer_vote_path(beer_vote), :method => :delete, :confirm => "Você tem certeza?", :title => 'apagar', :class => 'link-delete'

  - javascript_tag do
    = "$.getScript('/attachments?html_id=beer#{beer_vote.id}&search[title_like][]=#{u(beer_vote.title)}');"