.beer_vote{ :id => "vote#{beer_vote.id}" }
  %h3
    Cerveja
    = beer_vote.title
  = star_rating beer_vote.vote if beer_vote.vote
  .clear
  %p
    - if beer_vote.country
      Pa&iacute;s
      = beer_vote.country
  %p
    Coment&aacute;rio
    = beer_vote.comment if beer_vote.comment
  %p
    %span.info
      coment&aacute;rio criado em
      = l(beer_vote.commented_at, :format => :long)
  - if current_user
    %p
      = link_to 'excluir', beer_vote_path(beer_vote), :method => :delete, :confirm => "Você tem certeza?", :title => 'apagar', :class => 'link-delete'