%h2
  Nova foto para o álbum
  = @gallery.title

- form_for @photo, :url => admin_gallery_photos_path, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label_l :title
    %br
    = f.text_field :title
  %p
    = f.label_l :photo
    %br
    = file_field_tag :photo
  %p
    = submit_tag 'Enviar', :disable_with => 'salvando...', :class => 'button'
    ou
    = link_to 'cancelar', admin_gallery_photos_path(@gallery)