.prepend-top.prepend-1.span-15
  - form_for @search do |f|
    %p
      Busca no texto
      = f.text_field :body_like, :size => 20
      ou nas tags
      = f.text_field :tagged_with_on_tags, :size => 20
      %br/
      = submit_tag "Enviar", :disable => 'buscando...'
      ou
      = link_to "limpar", posts_path
  .tag_cloud
    %p
      Núvem de tags
      %br/
      - if @tags.size > 0
        - tag_cloud @tags, %w(level1 level2 level3 level4) do |tag, css_class|
          = link_to tag.name, posts_path(:search => { :tagged_with_on_tags => tag.name }), :class => css_class
  %p
    Ordene por
    = order @search, :by => :edited_at, :as => t("activerecord.attributes.post.edited_at").humanize
    ou
    = order @search, :by => :title, :as => t("activerecord.attributes.post.title").humanize
    ou
    = order @search, :by => :published_at, :as => t("activerecord.attributes.post.published_at").humanize

  #posts
    - @posts.each do |post|
      .post-card
        %h2
          = link_to post.title, post_path(:id => "#{post.id}-#{h(post.title)}" ), :class => 'link-post'
        %hr
        .post-header
          %span
            = link_to post.user.login, user_path(post.user), :class => 'link-user'
            ,
          %span.date
            criada em
            = l(post.created_at, :format => 'short')
            ,
          %span.date-edit
            última edição em
            = l(post.edited_at, :format => 'short')
        .post-tags
          %p
            - post.tag_list.each do |t|
              %span
                = link_to t, posts_path( :search => { :tagged_with_on_tags => t })
        %p
          = post.body

    %p.paginate
      = will_paginate @posts

.span-8.last
  .sidebar
    .about
      %h4 Sobre
      %p
        Este é um blog sobre nada. E sobre tudo. Tudo que não for trabalho. Papo à toa.
    .more
      %h4 Achou pouco?
      %p
        Chegou até aqui e achou pouco? Quer outras idéias?
        Dá uma olhada nesses sites aqui de baixo.
      %p
        No
        %a{ :href => "http://blog.riopro.com.br" }Blog da Riopro
        você vai ler sobre desenvolvimento de software, gerenciamento de projetos, Linux.
      %p
        Acha que o legal é ver algo meio Truman Show, acompanhe o
        Lifestream do Rodrigo na
        %a{ :href => "http://pittlandia.net" }Pittlandia.
      %p
        Está tudo sério demais na sua vida? Ok, vota aqui na
        %a{ :href => "http://peneirando.com/contests/15-qual-e-a-melhor-tirinha-dos-malvados" }melhor tirinha dos Malvados.