.span-18
  #post
    %h2
      = link_to @post.title, post_path(@post), :class => 'link-post'
    .post
      .post-header
        %span
          = link_to @post.user.login, user_path(@post.user), :class => 'link-user'
          ,
        %span.date
          criada em
          = l(@post.created_at, :format => 'short')
          ,
        %span.date-edit
          última edição em
          = l(@post.edited_at, :format => 'short')
      .post-tags
        %p
          - @post.tag_list.each do |t|
            %span
              = link_to t, "#"
      %p
        = @post.body
.span-18
  #comments_container
    = disqus_comments_tag(Settings::DISQUS_SITE_ID)