.prepend-top
.prepend-1.span-15
  #post
    = render :partial => 'one_post', :locals => { :post => @post, :body => @post.formatted_body(:full) }
.span-8.last
  .sidebar
    %h4 Posts Relacionados:
      - if @related_posts.size > 0
        %ul
          - @related_posts.each do |post|
            %li= link_to truncate(post.title, 40), post_path(post)
      - else
        %p
          Nenhum post relacionado a esse.
    %p
      Clique
      = link_to 'aqui', posts_path
      para ver todos os posts.
.span-18
  #comments_container
    = disqus_comments_tag(Settings::DISQUS_SITE_ID)
= disqus_comment_counter_tag(Settings::DISQUS_SITE_ID)