.prepend-1.span-15
  #post
    = render :partial => 'one_post', :locals => { :post => @post, :body => @post.formatted_body(:full) }
.prepend-top.span-8.last
  .sidebar
    %h4 Posts Relacionados:
    %ul
      - if @related_posts.size > 0
        - @related_posts.each do |post|
          %li= post_link(post, 40)
      - else
        %p
          Nenhum post relacionado a esse.
    %script{ :type => "text/javascript", :src => "http://platform.linkedin.com/in.js" }
    %script{ :type => "IN/Share", :data-url=> post_link(@post, 40), :title => truncate(@post.title, :length => 100, :omission => "..."), :summary => truncate(@post.formatted_body(:truncate), :length => 200, :omission => "...") , :data-counter => "right" }
    %p
      Clique
      = link_to 'aqui', posts_path
      para ver todos os posts.
.prepend-1.span-18
  #comments_container
    = disqus_comments_tag(Settings::DISQUS_SITE_ID)
= disqus_comment_counter_tag(Settings::DISQUS_SITE_ID)
