.prepend-top
  .span-2
  .span-20
    .explain.o
      %span.featured
        Observing
      Fotos tiradas por mim, da minha esposa, do meu filho,
      da minha família e dos meus amigos.
      %br
      %br
      %br
  .span-2
.prepend-2.general.span-18.append2
  %p Digite o código do álbum que pretende acessar abaixo
  %p
    E se eu não possuo um código? Então manda um email pro Otávio.
    E se eu não conhecer o Otávio? Bom, nesse caso esquece, porque
    muito provávelmente ele não vai querer te dar um código de acesso mesmo.
  - form_tag search_galleries_path, :method => :get do
    %p
      %label Digite abaixo o código do álbum
      %br/
      = text_field_tag :id
    %p
      = submit_tag 'ir para o álbum', :disable_with => '...'

.span-24
  #comments.general


.span-24
  .span-18
    - @comments.each do |comment|
        #comments.general

  .sidebar.span-5      
    - form_for @search do |f|
      %p
        %label Nome contendo
        %br/
        = f.text_field :name_like, :size => 20
      %p
        %label Comentário contendo
        %br/
        = f.text_field :comment_like, :size => 20
      %p
        = submit_tag 'filtrar', :disable_with => '...'
      %p
        = link_to "limpar filtros", galleries_path


- javascript_tag do
  = "loadAllComments();"
