.explain.o
  %span.featured
    = link_to 'Observing', '#', :onclick => "$('#explain').toggle(); return false;"
#explain{ :style => 'display: none;' }
  Fotos tiradas por mim, da minha esposa, do meu filho,
  da minha família e dos meus amigos.
  %br
  %br
  %br
.galleries
  %p Digite o código do álbum que pretende acessar abaixo
  %p
    %span.info
      E se eu não possuo um código? Então manda um email pro Otávio.
      E se eu não conhecer o Otávio? Bom, nesse caso esquece, porque
      muito provávelmente ele não vai querer te dar um código de acesso mesmo.
  - form_tag search_galleries_path, :method => :get do
    %p
      = text_field_tag :id
      %br/
      = submit_tag 'ir para o álbum', :disable_with => '...'

#comments
.sidebar
  %h4 Buscar nos comentários
  - remote_form_for @search, :url => comments_path, :method => :get do |f|
    %p
      %label Nome contendo
      %br/
      = f.text_field :name_like, :size => 20
    %p
      %label Comentário contendo
      %br/
      = f.text_field :comment_like, :size => 20
    %p
      = submit_tag 'filtrar', :disable_with => '...'
    %p
      = link_to "limpar filtros", galleries_path


- javascript_tag do
  $(document).ready(function(){
  load_all_comments();
  });

