.general
  %h2
    Álbum
    = @gallery.title
  %p
    = @gallery.description if @gallery.description
  .photos
    - @photos.each do |photo|
      .photo-box
        .photo
          = lightbox_image_tag(photo.public_filename(:small), photo.public_filename(:medium), {:class=>"images"}, :title => "#{ ((photo.title) ? photo.title : "sem título" ) }", :rel => "lightbox[roadtrip]")
.span-24
  #comments.general

- javascript_tag do
  = "loadComments(#{@gallery.id});"
