.general
  %h2
    Álbum
    = @gallery.title
  %p
    = @gallery.description if @gallery.description
  #photos.photos
    - @photos.each do |photo|
      .photo-box
        .photo
          = image_tag photo.public_filename(:medium), :width => 300 unless photo.public_filename(:mobile)
          = image_tag photo.public_filename(:mobile) if photo.public_filename(:mobile)
          %br/
          = ((photo.title) ? photo.title : "sem título" )

  #comments
  #new_comment
- javascript_tag do
  $(document).ready(function(){
  = "load_comments('#{@gallery.id}-#{@gallery.gallery_hash}');"
  });
