.general
  %h2
    Álbum
    = @gallery.title
  %p
    = @gallery.description if @gallery.description
  #photos.photos
    - @photos.each do |photo|
      .photo-box
        .photo
          = image_tag photo.public_filename(:medium)
          %br/
          = ((photo.title) ? photo.title : "sem título" )
.span-24
  .general
    .span-15
      #comments
    .sidebar.span-7.last
      #new_comment
- javascript_tag do
  $(document).ready(function(){
  = "load_comments('#{@gallery.id}-#{@gallery.gallery_hash}');"
  });
