.general
  %h2
    Editando vídeo
    = @video.title
  - form_for @video, :url => admin_video_path(@video), :html => { :multipart => true } do |f|
    = f.error_messages
    %p
      = f.label_t :title
      %br
      = f.text_field :title
    %p
      = f.label_t :description
      %br
      = f.text_field :description
    %p
      = f.label_t :video_hash
      %br
      = f.text_field :video_hash
    %p
      = f.label_t :mobile
      %br
      = f.check_box :mobile
    %p
      = f.label_t :uploaded_data
      %br
      = @video.filename
    %p
      = submit_tag 'Enviar', :disable_with => 'salvando...', :class => 'button'
      ou
      = link_to 'cancelar', admin_videos_path
