.general
  %h2 Vídeos
  %p
    = link_to "novo vídeo", new_admin_video_path, :class => 'link-new'
  .videos
    - @videos.each do |video|
      .video
        %p
          = link_to "#{video.title} - link público", video_path(:id => "#{video.id}-#{video.video_hash}"), :class => 'link-show'
          %br/
          Criado em:
          = l(video.created_at)
          ,
          = (video.mobile?) ? "Vídeo Mobile" : "Vídeo Comum"
          %br/
          = link_to "excluir", admin_video_path(video), :method => 'delete', :confirm => 'Tem certeza que deseja excluir este item? Não será possível voltar atrás.', :class => 'link-delete'
          %br/
          = link_to "editar", edit_admin_video_path(video), :class => 'link-edit'
  %p.paginate
    = will_paginate @videos
