.general
  %h2
    Novo vídeo
  - form_for @video, :url => admin_videos_path, :html => { :multipart => true } do |f|
    = f.error_messages
    %p
      = f.label_t :title
      %br
      = f.text_field :title
    %p
      = f.label_t :description
      %br
      = f.text_field :description
    %p
      = f.label_t :uploaded_data
      %br
      = f.file_field :uploaded_data
      %br
      %span.field_info Arquivos .flv
    %p.info
      Para converter um arquivo em flv usando o ffmpeg use o comando
      abaixo (ou uma variante do mesmo):
    %pre
      ffmpeg -i ARQUIVO_ORIGINAL -ar 22050 -s 640x480 -f flv -y NOVO_ARQUIVO.flv
    %p.info
      Ou usando o aconv, podemos converter para mp4 e flv:
    %pre  
      sudo apt-get install libav-tools libavcodec-extra-53
    %pre
      avconv -i FILME.avi -vcodec libx264 -acodec libvo_aacenc -r 30000/1001 nome.mp4
    %p.info
      Diminuindo o bitrate para salvar de hd para wide, 820x480 ou vga (640x480):
    %pre
      avconv -i FILME.avi -vcodec libx264 -acodec libvo_aacenc -b:v 256K -bt 256K -s hd480 -r 30000/1001 nome.mp4
      avconv -i FILME.avi -vcodec libx264 -acodec libvo_aacenc -b:v 256K -bt 256K -s vga -r 30000/1001 nome.mp4
      avconv -i FILME.avi -ar 22050 -f flv -y nome.flv
    %p
      = submit_tag 'Enviar', :disable_with => 'salvando...', :class => 'button'
      ou
      = link_to 'cancelar', admin_videos_path
