= f.error_messages
%p
  = f.label_t :title
  %br/
  = f.text_field :title
%p
  = f.label_t :country
  %br/
  = f.text_field :country
%p
  = f.label_t :vote
  %br/
  = f.text_field :vote
%p
  = f.label_t :price
  /
  = f.label_t :volume_type
  %br/
  = f.text_field :price
  = f.select :volume_type, BeerVote::POSSIBLE_VOLUME_TYPES
%p
  = f.label_t :comment
  %br/
  = f.text_area :comment
  = f.hidden_field :commented_at
  = f.hidden_field :twitter_profile
%p
  = submit_tag 'Enviar', :disable_with => 'salvando...', :class => 'button'
  ou
  = link_to 'cancelar', admin_beer_votes_path