%h2 
  Álbum
  = @gallery.title
%p
  = link_to "adicionar foto", new_admin_gallery_photo_path(@gallery), :class => 'link-new'
.photos
  - @photos.each do |photo|
    .photo-box
      .photo
        = lightbox_link_to ((photo.title) ? photo.title : "" ), photo.public_filename, @gallery.title
        %p
          %br
          = link_to "editar", edit_admin_gallery_photo_path(@gallery, photo), :class => 'link-edit'
          = link_to "excluir", admin_gallery_photo_path(@gallery, photo), :method => 'delete', :confirm => 'Tem certeza que deseja excluir este item? Não será possível voltar atrás.', :class => 'link-delete'