!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag "reset.css"
    = stylesheet_link_tag "text.css"
    = stylesheet_link_tag "fixes.css"
    = stylesheet_link_tag "default.css"
    = javascript_include_tag :defaults
    %title= h(@page_title) if @page_title
  %body.main
    .all
      .content-menu
        = render :partial => 'shared/menu'
        = render :partial => 'shared/submenu_admin'
      .content-all
        = display_flashes()
        = yield
        .clear
        = render :partial => 'shared/footer'
