!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon' }
    %title
      IMbW - I Might be Wrong (mobile)
      = "#{h(@page_title)}" if @page_title
    = stylesheet_link_tag "application_mobile.css"
    = stylesheet_link_tag "jquery.lightbox.css"

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'jrails'
    = javascript_include_tag 'jquery.color'
    = javascript_include_tag 'jquery.lightbox'
    = javascript_include_tag 'application'
  %body.main
    .container
      = link_to image_tag("imightbewrong_mobile.png", :alt => "I might be W.R.O.N.G."), pages_path
      = render :partial => 'shared/menu'
    .clear
    .content-all
      = display_flashes()
      = yield
      .clear
      = render :partial => 'shared/footer'
