!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon' }
    %title= "#{h(@page_title)} - mobile version" if @page_title
    = stylesheet_link_tag "application.css"
    = stylesheet_link_tag "jquery.lightbox.css"

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'jrails'
    = javascript_include_tag 'jquery.color'
    = javascript_include_tag 'jquery.lightbox'
    = javascript_include_tag 'application'
  %body.main
    .container
      .prepend-top.span-24
        .menu
          .clear
          = render :partial => 'shared/menu'
      .clear
      .content-all
        = display_flashes()
        = yield
        .clear
        = render :partial => 'shared/footer'
