!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon' }
    %title= h(@page_title) if @page_title
    = javascript_include_tag :defaults, 'builder', 'lightbox', :cache => true
    = stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
    == <!--[if lt IE 8]>#{stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection"}<![endif]-->
    = stylesheet_link_tag "application.css"
    = stylesheet_link_tag "lightbox.css"
    = lightbox_init
  %body.main
    .container
      .prepend-top.span-24
        .menu
          = image_tag("imightbewrong.png", :alt => "I might be W.R.O.N.G.", :title => "I might be W.R.O.N.G.")
          = render :partial => 'shared/menu'
      .clear
      .content-all
        = display_flashes()
        = yield
        .clear
        = render :partial => 'shared/footer'
